<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Username</title>
</head>
<body>
    <h2>
      You are about to edit the user <%=user.name%>
    </h2>
    <form method="POST" action="/user/<%=user.id%>?_method=PATCH">
      <textarea name="name"><%=user.name%></textarea>
      <input type="password" name ="password"  placeholder="Enter your password to confirm changes">
      <button>Save</button>
    </form>
</body>
</html>