<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
</head>
<body>
  <h2>Welcome to our website!</h2>
  <form method="POST" action="/user">
    <input type="hidden" name="id" value="<%=id%>">
    <input type="text" name="name" placeholder="Enter your username">
    <input type="email" name="email" placeholder="Enter your email">
    <input type="password" name="password" placeholder="Enter your password">
    <button>Join us!</button>
  </form>
</body>
</html>