<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roll Dice</title>
</head>
<body>
  <h1>Dice gave the value: <%= num %></h1>
  <% if(num==6) {%>
    <h2>Congratulations! You rolled a 6!</h2>
  <% } else { %>
    <h2>Better luck next time!</h2>
    <% }%>
</body>
</html>